$primary-color: #577eb5;
$secondary-color: #4b4943;
$hover-color: #3a639c;
$background-color: #ededed;

.hamburger {
  &.is-active {
    .line:nth-child(1) {
      width: 12px;
      -webkit-transform: translate(-8px,4px) rotate(-45deg);
      -ms-transform: translate(-8px,4px) rotate(-45deg);
      -o-transform: translate(-8px,4px) rotate(-45deg);
      transform: translate(-8px,4px) rotate(-45deg);
    }
    .line:nth-child(3) {
      width: 12px;
      -webkit-transform: translate(-8px,-4px) rotate(45deg);
      -ms-transform: translate(-8px,-4px) rotate(45deg);
      -o-transform: translate(-8px,-4px) rotate(45deg);
      transform: translate(-8px,-4px) rotate(45deg);
    }
  }

  .line {
    width: 24px;
    height: 2px;
    background-color: $secondary-color;
    display: block;
    margin: 6px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}
